<template>
  <div class="login-form">
    <form @submit.prevent="submit">
      <input type="text" :class="{error: errors.login}" placeholder="Логин" v-model="login">
      <input type="password" :class="{error: errors.password}" placeholder="Пароль" v-model="password">
      <button type="submit" class="btn-login" :class="{'btn-login--disabled': loading}" :disabled="loading">
        Войти
        <v-spinner v-if="loading"></v-spinner>
      </button>
    </form>
    <button class="btn-login btn-login--second" @click="changeForm">Регистрация</button>
  </div>
</template>

<script>
  import VSpinner from '../utility/VSpinner';
  export default {
    name: "Login",
    components: {VSpinner},
    data() {
      return {
        login: '',
        password: '',
        errors: {
          login: false,
          password: false
        }
      }
    },
    computed: {
      loading() {
        return this.$store.getters['auth/loading'];
      }
    },
    methods: {
      submit() {
        if(this.checkForm()) {
          let send = {
            login: this.login,
            password: this.password
          };
          this.$store.dispatch('auth/authRequest', send)
            .then(() => {
              this.$router.push({name: 'Home'});
            }, () => {});
        }
      },
      checkForm() {
        for(let key in this.errors) {
          this.errors[key] = false;
        }
        this.validateEmpty('login');
        this.validateEmpty('password');

        for(let key in this.errors) {
          if(!!this.errors[key]) {
            return false;
          }
        }
        return true;
      },
      validateEmpty(key) {
        if(this[key] === '') {
          this.errors[key] = true;
        }
      },
      changeForm() {
        this.$emit('changeForm', 'Registration');
      }
    }
  }
</script>

<style lang="scss">
  @import "../../assets/style/variables";
  .login-form {
    margin: 66px auto;
    max-width: 442px;
    background-color: $bgc-prim;
    box-shadow: 4px 0 11px rgba(0, 0, 0, 0.59);
    border-radius: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    input {
      box-sizing: border-box;
      width: 90%;
      background-color: transparent;
      box-shadow: inset 4px 0 11px rgba(0, 0, 0, 0.59);
      border-radius: 11px;
      font-size: 0.75rem;
      font-weight: 300;
      padding: 18px;
      border: none;
      color: $text;
      margin: 40px auto 0;

      &.error {
        border: 1px solid red;
      }
    }
  }

  .btn-login {
    min-width: 240px;
    height: 50px;
    background-color: $prim-color;
    padding: 15px;
    border-radius: 27px;
    border: none;
    color: $text;
    font-size: 0.9rem;
    margin-top: 55px;
    position: relative;

    &:hover {
      background-color: darken($prim-color, 5);
    }

    &--second {
      background-color: $sec-color;
      margin: 44px 0;

      &:hover {
        background-color: darken($sec-color, 5);
      }
    }

    &--disabled:hover {
      background-color: $prim-color;
    }
  }
</style>