<template>
  <div class="login-form login-form--register">
    <form @submit.prevent="submit">
      <input type="text" :class="{error: errors.login}" placeholder="Логин" v-model="login">
      <input type="text" :class="{error: errors.name}" placeholder="Имя" v-model="name">
      <input type="text" :class="{error: errors.email}" placeholder="Email" v-model="email">
      <input type="password" :class="{error: errors.password}" placeholder="Пароль" v-model="password">
      <p class="policy">Я согласен на обработку персональных данных. Потому
        что если я не согласен, то на данном сайте мне нечего
        делать и я не смогу им пользоваться. Поэтому я ставлю
        галочку, вот мои персональные данные, берегите их.</p>
      <div class="option-checkbox">
        <input type="checkbox" id="confirm" class="custom-checkbox" :class="{error: errors.confirm}" v-model="confirm">
        <label for="confirm" @click.stop>Согласен</label>
      </div>
      <button type="submit" class="btn-login" :class="{'btn-login--disabled': loading}" :disabled="loading">
        Зарегистрироваться
        <v-spinner v-if="loading"></v-spinner>
      </button>
    </form>
    <button class="btn-login btn-login--second" @click="changeForm">Войти</button>
  </div>
</template>

<script>
  import VSpinner from '../utility/VSpinner';
  export default {
    name: "Registration",
    components: {VSpinner},
    data() {
      return {
        login: '',
        name: '',
        email: '',
        password: '',
        confirm: false,
        errors: {
          login: false,
          name: false,
          email: false,
          password: false,
          confirm: false
        }
      }
    },
    computed: {
      loading() {
        return this.$store.getters['auth/loading'];
      }
    },
    methods: {
      submit() {
        if(this.checkForm()) {
          let send = {
            login: this.login,
            name: this.name,
            email: this.email,
            password: this.password,
            confirm: this.confirm
          };
          this.$store.dispatch('auth/registrationRequest', send)
            .then(() => {
              this.$router.push({name: 'Home'});
            }, () => {});
        }
      },
      checkForm() {
        for(let key in this.errors) {
          this.errors[key] = false;
        }
        this.validateEmpty('login');
        this.validateEmpty('name');
        this.validateEmpty('email');
        this.validateEmpty('password');
        this.validateEmail(this.email);
        this.validateCheck();

        for(let key in this.errors) {
          if(!!this.errors[key]) {
            return false;
          }
        }
        return true;
      },
      validateEmpty(key) {
        if(this[key] === '') {
          this.errors[key] = true;
        }
      },
      validateEmail(email) {
        let re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        this.errors.email = !re.test(email);
      },
      validateCheck() {
        this.errors.confirm = !this.confirm;
      },
      changeForm() {
        this.$emit('changeForm', 'Login');
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../assets/style/variables";
  .error {
    border: 1px solid red;
  }
  .login-form--register {
    input {
      margin-top: 20px;
    }
  }
  .policy {
    width: 90%;
    font-weight: 300;
    font-size: 0.7rem;
    margin: 30px 0 20px;
  }
  .option-checkbox {
    width: 90%;
    text-align: right;
    position: relative
  }
  .custom-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
  }
  .custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-weight: 300;
    font-size: 0.7rem;
  }
  .custom-checkbox+label::after {
    content: '';
    box-sizing: border-box;
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-left: 26px;
    flex-shrink: 0;
    flex-grow: 0;
    box-shadow: inset 4px 0 11px rgba(0, 0, 0, 0.59);
    border-radius: 3px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .custom-checkbox:checked+label::after {
    border-color: $prim-color;
    background-color: $prim-color;
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
  .custom-checkbox.error+label::after {
    border: 1px solid red;
  }
</style>