<template>
  <div class="modal-layout" @click="layoutClick">
    <div class="new"
         ref="modal"
         @click.stop>
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: "NewTask",
    methods: {
      layoutClick() {
        this.$refs.modal.classList.remove('modal-animated');
        window.setTimeout(() => {
          this.$refs.modal.classList.add('modal-animated');
        }, 10);
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../assets/style/variables";

  .modal-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(50, 50, 50, 0.5);
  }

  .new {
    box-sizing: border-box;
    background-color: $bgc-prim;
    box-shadow: 4px 0 11px rgba(0, 0, 0, 0.59);
    border-radius: 27px;
    padding: 30px;
    min-width: 560px;
  }

  .modal-animated {
    animation: blink 0.3s linear 0s 3;
  }
  @keyframes blink {
    0%, 100% {
      background-color: $bgc-prim;
    }
    50% {
      background-color: lighten($bgc-prim, 4);
    }
  }
</style>