<template>
  <div class="new-task">
    <h2>Новая задача</h2>
    <input class="input" :class="{error: error}" type="text" placeholder="Наименование задачи" v-model="task">
    <textarea class="input" placeholder="Описание задачи" v-model="descr"></textarea>
    <div class="action">
      <div class="btn" @click.stop="close">Отмена</div>
      <div class="btn" @click.stop="accept">Принять</div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "NewTask",
    data() {
      return {
        task: '',
        descr: '',
        error: false
      }
    },
    methods: {
      accept() {
        if(this.task === '') {
          this.error = true;
          return false;
        } else {
          let payload = {
            title: this.task,
            descr: this.descr,
            date: {
            start: null,
              end: null
          },
            priority: "",
            contexts: [],
            list: 0
          };
          this.$store.dispatch('base/addTask', payload);
          this.close();
        }
      },
      close() {
        this.$emit('closeModal');
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../assets/style/variables";

  h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .input {
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    box-shadow: inset 4px 0 11px rgba(0, 0, 0, 0.59);
    border-radius: 11px;
    font-family: inherit;
    font-size: 0.75rem;
    font-weight: 300;
    padding: 18px;
    border: none;
    color: $text;
    margin: 10px auto 20px;

    &.error {
      border: 1px solid red;
    }
  }

  .action {
    display: flex;
    justify-content: flex-end;
  }
  .btn {
    font-weight: 300;
    margin-left: 22px;
    padding: 12px 18px;
    border-radius: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: $prim-color;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: darken($prim-color, 7);
    }
  }

</style>