<template>
  <div class="task">
    <div class="color" :style="{backgroundColor: color}"></div>
    <div class="title">{{ title }}</div>
    <div class="tags">
      <span v-for="(context, index) in contexts"
            :key="index"
      >{{ context }}</span>
    </div>
    <div class="date"></div>
    <div class="checkbox">
      <input type="checkbox" :id="id" class="custom-checkbox">
      <label :for="id" @click.stop></label>
    </div>
    <div class="priority"
         :class="'priority--'+priority"
    ></div>
  </div>
</template>

<script>
  export default {
    name: "TaskCheckbox",
    props: [
      'id',
      'title',
      'color',
      'contexts',
      'priority'
    ]
  }
</script>

<style lang="scss" scoped>
  @import "../../assets/style/variables";

  .task {
    display: flex;
    cursor: default;
    user-select: none;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 15px 9px;
  }

  .color {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 13px;
  }

  .title {
    flex-grow: 1;
    font-size: 18px;
    font-weight: 300;
    cursor: move;
  }

  .tags {
    font-size: 13px;
    font-weight: 500;
    text-align: right;
    span {
      display: inline-block;
      margin-left: 6px;
      margin-right: 10px;
    }
  }

  .checkbox {
    width: 26px;
    height: 26px;
    position: relative;
    margin-left: 10px;
    flex-shrink: 0;
    .custom-checkbox {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0;
    }
    .custom-checkbox+label {
      display: flex;
      height: 100%;
      align-items: center;
      user-select: none;
      cursor: pointer;
      background: transparent;
      box-shadow: inset 4px 0 11px rgba(0, 0, 0, 0.59);
      border-radius: 3px;
    }
    .custom-checkbox:checked+label {
      border-color: $prim-color;
      background-color: $prim-color;
      box-shadow: none;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
      background-size: 16px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .priority {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-left: 12px;
    &--high {
      background: url("../../assets/img/priority-high.svg") no-repeat center;
      background-size: contain;
    }
    &--middle {
      background: url("../../assets/img/priority-middle.svg") no-repeat center;
      background-size: contain;
    }
    &--low {
      background: url("../../assets/img/priority-low.svg") no-repeat center;
      background-size: contain;
    }
  }
</style>