<template>
  <div class="spinner">
    <div class="spinner-border"
         :style="styles"
    >
    </div>
  </div>
</template>

<script>
  export default {
    name: "VSpinner",
    props: {
      size: {
        type: [Number, String],
        default: 32
      },
      width: {
        type: Number,
        default: 4
      },
      button: Boolean
    },
    computed: {
      calculatedSize() {
        return Number(this.size) - (this.button ? 8 : 0);
      },
      styles() {
        return {
          width: `${this.calculatedSize - 5 }px`,
          height: `${this.calculatedSize - 5 }px`,
          borderWidth: `${this.width}px`
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  @keyframes spinner-border {
    to { transform: rotate(360deg); }
  }
  .spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
  }
  .spinner-border {
    display: inline-block;
    vertical-align: text-bottom;
    border: 4px solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;
  }
</style>