<template>
  <div class="container">
    <div class="user">
      <div class="user__icon">
        {{ user.name ? user.name[0] : '' }}
      </div>
      <div class="user__name">{{ user.name || 'Загрузка...' }}</div>
    </div>
    <div class="buttons">
      <div class="add-list">
        <div class="add-btn">+</div>
        <p>Списки</p>
      </div>
      <div class="btn btn__active">
        <div class="icon icon--all"></div>
        <p>Все задачи <span v-if="tasks.length > 0">({{ tasks.length }})</span></p>
      </div>
      <div class="btn">
        <div class="icon icon--today"></div>
        <p>Сегодня <span v-if="tasks.length > 0">({{ tasks.length }})</span></p>
      </div>
      <div class="btn">
        <div class="icon icon--inbox"></div>
        <p>Входящие (1)</p>
      </div>
    </div>
    <div class="hr"></div>
    <ul class="lists">
      <li class="list">
        <p title="Учеба (1)">Учеба (1)</p>
        <div class="list__color" style="background-color: #ff7400"></div>
      </li>
      <li class="list">
        <p title="Очень длинное название списка прям ваще длинное (15)">Очень длинное название списка прям ваще длинное</p>
        <div class="list__color" style="background-color: #ff8895"></div>
      </li>
      <li class="list">
        <p>Работа (2)</p>
        <div class="list__color" style="background-color: #12d0ff"></div>
      </li>
    </ul>
    <div class="priority">
      <h6>Приоритеты:</h6>
      <div class="priority__btn">
        <p>Высокий</p>
        <div class="priority__icon priority__icon--high"></div>
        <div class="priority__count">(5)</div>
      </div>
      <div class="priority__btn">
        <p>Средний</p>
        <div class="priority__icon priority__icon--middle"></div>
        <div class="priority__count">(16)</div>
      </div>
      <div class="priority__btn">
        <p>Низкий</p>
        <div class="priority__icon priority__icon--low"></div>
        <div class="priority__count">(33)</div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'

  export default {
    name: "Aside",
    props: ['user'],
    computed: {
      ...mapGetters('base', [
        'tasks',
        'lists'
      ])
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../assets/style/variables";

  .container {
    padding: 40px 26px 30px;
    background-color: $bgc-prim;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 95px;
    border-radius: 42px 0 0 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
  }

  .user {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 22px;
    margin-bottom: 40px;
    &__icon {
      width: 57px;
      height: 57px;
      border-radius: 50%;
      background-color: $sec-color;
      margin-right: 48px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
    }
  }

  .buttons {
    .add-list {
      margin-right: 22px;
      margin-bottom: 24px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .add-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 41px;
        height: 41px;
        background-color: $prim-color;
        border-radius: 50%;
        margin-right: 12px;
        cursor: pointer;
        font-size: 1.5rem;
      }
    }
    .btn {
      font-weight: 300;
      margin-left: 22px;
      margin-bottom: 10px;
      padding-right: 18px;
      border-radius: 11px;
      display: flex;
      height: 46px;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      &__active {
        background-color: $prim-color;
      }
      .icon {
        width: 24px;
        height: 24px;
        margin-left: 25px;
        &--all {
          background: url("../../assets/img/allTasks.svg") no-repeat center;
        }
        &--today {
          background: url("../../assets/img/today.svg") no-repeat center;
        }
        &--inbox {
          background: url("../../assets/img/inbox.svg") no-repeat center;
        }
      }
    }
  }

  .hr {
    width: 100%;
    border-top: 1px solid rgba(229, 229, 229, 0.6);
  }

  .lists {
    flex-grow: 1;
    padding: 0 18px 0 22px;
    overflow: auto;
    font-weight: 300;
    .list {
      margin: 30px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      &__color {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        flex-shrink: 0;
      }
    }
  }

  .priority {
    font-size: 14px;
    margin: 0 7px;
    background-color: $prim-color;
    border-radius: 11px;
    padding: 8px 16px 12px;
    font-weight: 300;
    &__btn {
      margin: 10px 15px;
      display: flex;
      align-items: flex-end;
      p {
        font-weight: 500;
      }
    }
    &__icon {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      margin: 0 12px;
      &--high {
        background: url("../../assets/img/priority-high.svg") no-repeat center;
        background-size: contain;
      }
      &--middle {
        background: url("../../assets/img/priority-middle.svg") no-repeat center;
        background-size: contain;
      }
      &--low {
        background: url("../../assets/img/priority-low.svg") no-repeat center;
        background-size: contain;
        margin-left: 21px;
      }
    }
  }
</style>