<template>
  <section class="main">
    <h2>Задачи на сегодня</h2>
    <ul>
      <li v-for="task in tasks"
          :key="task.id">
        <Task :id="task.id"
              :color="getColorList(task.list)"
              :title="task.title"
              :contexts="getContext(task.contexts)"
              :priority="task.priority"
        ></Task>
        <div class="hr"></div>
      </li>
    </ul>
  </section>
</template>

<script>
  import {mapGetters} from 'vuex';
  import Task from '../utility/TaskCheckbox'

  export default {
    name: "Tasks",
    components: {Task},
    computed: {
      ...mapGetters('base', [
        'tasks',
        'contexts',
        'lists',
        'loading'
      ])
    },
    methods: {
      getColorList(id) {
        return this.lists.find(list => list.id === id).color
      },
      getContext(contexts) {
        if(contexts.length === 0) {
          return [];
        } else {
          let result = [];
          contexts.forEach(item => {
            let value = `#${this.contexts.find(elem => elem.id === item).title}`;
            result.push(value);
          });
          return result;
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../assets/style/variables";

  .main {
    margin: 30px;
    background-color: $bgc-prim;
    box-shadow: 4px 0 11px rgba(0, 0, 0, 0.59);
    border-radius: 27px;
    padding: 30px;

    h2 {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 16px;
    }
  }
  .hr {
    width: 100%;
    border-top: 1px solid rgba(229, 229, 229, 0.25);
  }
</style>