<template>
  <div class="wrapper-login">
    <div class="hero">
      <div class="logo">
        <img src="../assets/img/TimeLead.svg" alt="TimeLead">
      </div>
      <h1 class="motto">Тайм-менеджмент и <br> планирование еще никогда <br> не были такими простыми и <br> удобными.</h1>
      <p class="aside">Зарегистрируйтесь сейчас,<br> чтобы получить доступ<br> ко всему функционалу<br> TimeLead</p>
    </div>
    <div class="login-form-wrapper">
      <component :is="currentForm" @changeForm="changeComponent"></component>
    </div>
  </div>
</template>

<script>
  import Login from '../components/Auth/Login'
  import Registration from '../components/Auth/Registration'

  export default {
    name: "Auth",
    components: {
      Login,
      Registration
    },
    data() {
      return {
        currentForm: 'Login'
      }
    },
    methods: {
      changeComponent(value) {
        this.currentForm = value;
      }
    }
  }
</script>

<style lang="scss">
  @import "../assets/style/variables";

  .wrapper-login {
    box-sizing: border-box;
    width: 92%;
    min-height: 80vh;
    margin: 10vh auto 0;
    background-color: $bgc-dark;
    box-shadow: 4px 0 11px rgba(0, 0, 0, 0.59);
    border-radius: 44px;
    border: 3px solid #72778a;
    display: flex;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: calc(100% + 3px);
      left: 60%;
      width: 150px;
      height: 75px;
      border-radius: 75px 75px 0 0;
      background-color: #0AAF51;
    }
    &::after {
      content: '';
      position: absolute;
      top: calc(100% + 3px);
      left: 100px;
      width: 170px;
      height: 85px;
      border-radius: 0 0 85px 85px;
      background-color: #FECB31;
    }
  }

  .hero {
    width: 50%;
    padding: 5px;
    font-weight: 300;

    .logo {
      margin: 70px 0 70px auto;
      max-width: 333px;
      img {
        max-width: 100%;
      }
    }

    .motto {
      text-align: right;
      max-width: 333px;
      margin-left: auto;
    }

    .aside {
      max-width: 300px;
      margin-left: 13%;
      margin-top: 100px;
    }
  }

  .login-form-wrapper {
    width: 50%;
  }
</style>