<template>
  <div class="app-home">
    <div class="header">
      <div class="logo">
        <img src="../assets/img/TimeLead.svg" alt="TimeLead">
      </div>
      <div class="logout" @click="logout">Выход</div>
    </div>
    <div class="wrapper">
      <div class="menu">
        <Aside :user="user"></Aside>
      </div>
      <div class="center">
        <Tasks></Tasks>
      </div>
      <div class="about">
        <div class="add-task"
             @click="newTask=true"
        >
          <span>+</span>
          Новая задача
        </div>
      </div>
    </div>
    <div class="modals">
      <modal-layout v-if="newTask">
        <new-task @closeModal="closeNewTask"></new-task>
      </modal-layout>
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import Aside from '../components/Home/Aside'
import SwitchMode from '../components/Home/SwitchMode'
import ImportantTasks from '../components/Home/ImportantTasks'
import Tasks from '../components/Home/Tasks'
import Calendar from '../components/Home/Calendar'
import AboutTask from '../components/Home/AboutTask'
import ModalLayout from '../components/Modal/ModalLayout'
import NewTask from '../components/Modal/NewTask'

export default {
  name: 'Home',
  components: {Aside, SwitchMode, ImportantTasks, Tasks, Calendar, AboutTask, ModalLayout, NewTask},
  data() {
    return {
      newTask: false
    }
  },
  computed: {
    ...mapGetters('auth', {
      user: 'user'
    })
  },
  methods: {
    getTasks(id) {
      this.$store.dispatch('base/getAll', id);
    },
    logout() {
      this.$store.commit('base/clearState');
      this.$store.commit('auth/logout');
      this.$router.push({name: 'Auth'});
    },
    closeNewTask() {
      this.newTask = false;
    }
  },
  mounted() {
    if(this.user.id) {
      this.getTasks(this.user.id);
    } else {
      this.$store.dispatch('auth/authCheck')
        .then(id => {
          this.getTasks(id);
        }, () => {
          this.$store.commit('auth/logout');
          this.$router.push({name: 'Auth'});
        });
    }
  }
}
</script>

<style lang="scss">
  @import "../assets/style/variables";

  .wrapper {
    box-sizing: border-box;
    width: 96%;
    min-height: calc(100vh - 120px);
    margin: 70px auto 0;
    background-color: $bgc-dark;
    box-shadow: 4px 0 11px rgba(0, 0, 0, 0.59);
    border-radius: 44px;
    border: 3px solid #72778a;
    display: flex;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: calc(100% - 13px);
      left: 60%;
      width: 150px;
      height: 75px;
      border-radius: 75px 75px 0 0;
      background-color: #0AAF51;
      z-index: -1;
    }
    &::after {
      content: '';
      position: absolute;
      top: calc(100% - 37px);
      left: 100px;
      width: 170px;
      height: 85px;
      border-radius: 0 0 85px 85px;
      background-color: #FECB31;
      z-index: -1;
    }
  }
  .header {
    position: absolute;
    top: 22px;
    width: 96%;
    margin: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 167px;
      img {
        max-width: 100%;
      }
    }
    .logout {
      padding: 0 10px;
      font-size: 16px;
      cursor: pointer;
    }
  }
  .menu {
    flex-basis: 400px;
    border-radius: 42px 0 0 42px;
    position: relative;
    flex-shrink: 0;
    /*background-color: #fcfcfc;*/
  }
  .center {
    flex-grow: 1;
    /*background-color: #fff;*/
  }
  .about {
    flex-basis: 470px;
    /*background-color: #999999;*/
  }
  .add-task {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 35px;
    background-color: $prim-color;
    border-radius: 27px;
    margin: 34px 30px 40px auto;
    width: 240px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: darken($prim-color, 7);
    }
    span {
      font-size: 30px;
    }
  }

  .modals {
    position: fixed;
    top: 0;
    left: 0;
  }
</style>
