$prim-font: "Montserrat", sans-serif;

$bgc-prim: #212223;
$bgc-dark: #171819;

$prim-color: #0061B2;
$sec-color: #0AAF51;

$text: #e5e5e5;
$text-dark: #4f4f4f;
$text-gray: rgba(229, 229, 229, 0.5);;

// media
$xs: 576px;
